@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.rapport_container {
    padding-top: 100px;
    padding-left: 140px;
}

.rapport_title {
    color: #000;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.rapport_container_diagnostic_title {
    color: #000;
    font-family: Inter;
    font-size: 27px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

